.ayah-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
}

.number {
  font-size: 16px;
  font-weight: bold;
}

/* Your existing CSS */
@font-face {
  font-family: "Mcs_Swer_Al_Quran_4";
  src: local("Mcs_Swer_Al_Quran_4"),
    url(../fonts/Mcs_Swer_Al_Quran_4.ttf) format("truetype");
}

.quran-text {
  font-size: 26px;
  font-family: "Mcs_Swer_Al_Quran_4";
  text-align: center;
}
.bismi {
  color: rgb(31, 155, 99);
}

.single-paragraph {
  display: inline; /* Ensure all content appears in a single line */
}

/* Rest of your CSS */
